@page "/"
@inherits AppComponentBase

<PageTitle>Home | Banana Tracks</PageTitle>

<Page>
	<p><img src="https://ojs.azureedge.net/assets/banner-637762719499419452.png" class="img-fluid" alt="" /></p>
	<Loading IsLoading="TimeOff is null">
		<ul class="link-list">
			<li><a href="/request-time-off">Request Time Off</a></li>
		</ul>
		<table class="table">
			<thead>
			<tr>
				<th>Date</th>
				<th>Name</th>
				<th>Status</th>
				<th>Type</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var item in TimeOff!.Items)
			{
				<tr>
					<td>@item.Date.ToDateTime().ToString("yyyy-MM-dd")</td>
					<td>@item.UserName</td>
					<td>@item.Status</td>
					<td>@item.Type</td>
				</tr>
			}
			</tbody>
		</table>
	</Loading>
</Page>
