@page "/request-time-off"
@inherits AppComponentBase

<EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="mb-5">
		<InputDate @bind-Value="Model.Date" class="form-control" />
	</div>

	<button type="submit" class="btn">Submit</button>
</EditForm>
