@inherits ComponentBase

@if (!string.IsNullOrWhiteSpace(StatusMessage.Value))
{
	<div class="alert alert-success" role="alert">
		@StatusMessage
	</div>
}
@if (IsLoading)
{
	<div class="loading"><i class="fad fa-circle-notch fa-spin fa-2x"></i>Loading...</div>
}
else
{
	@ChildContent
}
