@inherits LayoutComponentBase

<header>
	<div class="view">
		<div class="d-flex justify-content-between">
			<a href="/">Banana Tracks</a>
			<a href="/auth/sign-out">Sign Out</a>
		</div>
	</div>
</header>

<main>
	<div class="view">
		@Body
	</div>
</main>
